HOST_ENV=local
PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/database?schema=public
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=http://localhost:8000
# MAILGUN_API_KEY=XXX
MAILGUN_DOMAIN=mg.ideanick.com
FROM_EMAIL_NAME=IdeaNick
FROM_EMAIL_ADDRESS=noreply@mg.ideanick.com
DEBUG=ideanick:*,-ideanick:prisma:*,-ideanick:trpc:query:success
# BACKEND_SENTRY_DSN=XXX
# SENTRY_AUTH_TOKEN=XXX
# SOURCE_VERSION=123
# CLOUDINARY_API_KEY=XXX
# CLOUDINARY_API_SECRET=XXX
CLOUDINARY_CLOUD_NAME=ideanick
# S3_ACCESS_KEY_ID=XXX
# S3_SECRET_ACCESS_KEY=XXX
# S3_BUCKET_NAME=static.ideanick.com
# S3_REGION=eu-west-1
S3_URL=https://s3.eu-west-1.amazonaws.com/static.ideanick.com