PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/database?schema=public
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=http://localhost:8000
MAILGUN_API_KEY=XXX
MAILGUN_DOMAIN=mg.ideanick.com
FROM_EMAIL_NAME=IdeaNick
FROM_EMAIL_ADDRESS=noreply@mg.ideanick.com