PORT=8000
HOST_ENV=local
# SENTRY_AUTH_TOKEN=XXX
# SOURCE_VERSION=123
VITE_BACKEND_URL=http://localhost:3000/trpc
VITE_WEBAPP_URL=http://localhost:8000
# VITE_WEBAPP_SENRTY_DSN=XXX
VITE_CLOUDINARY_CLOUD_NAME=ideanick
VITE_S3_URL=https://s3.eu-west-1.amazonaws.com/static.ideanick.com
# VITE_MIXPANEL_API_KEY=XXX